.about {
	position: relative;
	background-color: #fff;
	padding-top: 120px;
	padding-bottom: 120px;

	@media screen and (max-width: 375px) {
		padding-bottom: 431px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		width: 1860px;
		height: 1067px;

		background-image: url('../img/about-bg.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		@media screen and (max-width: 1400px) {
			height: 1150px;
		}

		@media screen and (max-width: 375px) {
			background-image: url('../img/about-bg-mob.png');
			width: 100%;
			height: 1424px;
		}
	}

	&__container {
	}

	&__inner {
		position: relative;
		z-index: 2;
		gap: 20px;
		@media screen and (max-width: 992px) {
			display: flex;
			flex-direction: column;
			gap: 40px;
		}
	}

	&__title {
		grid-column: 4 span;
	}

	&__content {
		grid-column: 5 / 10;
	}

	&__our-advantages {
		margin-bottom: 30px;
		@media screen and (max-width: 992px) {
			margin-bottom: 24px;
			gap: 8px;
		}
		.our-advantages__item {
			@media screen and (max-width: 575px) {
				font-size: 14px;
			}
		}
	}

	&__form {
		.form-menu__name {
			max-width: 190px;
		}
		.form-menu__fields {
			flex-wrap: nowrap;
			@media screen and (max-width: 1400px) {
				display: grid;
				grid-template-columns: 1fr;
				.download-btn,
				.form-menu__number,
				.form-menu__name {
					max-width: 100%;
				}
			}
		}
		.form__privacy {
			@media screen and (max-width: 575px) {
				font-size: 11px;
			}
		}
	}
}
.container {
}
.title {
}
.text-orange {
}
.our-advantages {
	&__item {
	}
}
.form-menu {
	&__title {
	}

	&__fields {
	}

	&__name {
	}

	&__number {
	}

	&__privacy {
	}
}
.input {
}
.input-reset {
}
.input-wrapper {
	&__icon {
	}
}
.input-number {
}
.download-btn {
}
.btn-reset {
}
.underline {
}
