<section class="about">
	<div class="about__container container">
		<div class="about__inner">
			<h2 class="about__title title">
				<span class="text-orange">Почему</span> нам стоит доверять
			</h2>

			<div class="about__content">
				<div class="about__our-advantages our-advantages">
					<div class="our-advantages__item">
						<svg width="27" height="29">
							<use href="./assets/img/svg/sprite.svg#hat"></use>
						</svg>
						<span>Квалифицированные повара, любящие свое дело</span>
					</div>
					<div class="our-advantages__item">
						<svg width="35" height="35">
							<use href="./assets/img/svg/sprite.svg#household"></use>
						</svg>
						<span>Новейшее оборудование и уникальная система контроля</span>
					</div>
					<div class="our-advantages__item">
						<svg width="35" height="22">
							<use href="./assets/img/svg/sprite.svg#truck"></use>
						</svg>
						<span
							>Собственная служба логистики и гибкие возможности доставки</span
						>
					</div>
					<div class="our-advantages__item">
						<svg width="24" height="35">
							<use href="./assets/img/svg/sprite.svg#ind"></use>
						</svg>
						<span>Индивидуальное меню для каждого</span>
					</div>
					<div class="our-advantages__item">
						<svg width="35" height="35">
							<use href="./assets/img/svg/sprite.svg#flower100"></use>
						</svg>
						<span>Индивидуальное меню для каждого</span>
					</div>
				</div>

				<form action="#" class="about__form form-menu" name="form-menu">
					<div class="form-menu__title">
						Приглашаем посетить наше производство и увидеть все изнутри
					</div>
					<div class="form-menu__fields">
						<input
							type="text"
							class="input input-reset form-menu__name"
							name="name"
							placeholder="Ваше имя" />

						<div class="input-wrapper">
							<img
								class="input-wrapper__icon"
								src="./assets/img/ru.png"
								alt="" />
							<input
								type="text"
								id="form-menu-phone"
								class="input input-reset input-number form-menu__number"
								placeholder="+7 (999)999-99-99" />
						</div>

						<button class="download-btn btn-reset">
							<span>отправить</span>
						</button>
					</div>
					<p class="form-menu__privacy">
						Нажимая кнопку “Скачать PDF” вы соглашаетесь на обработку
						персональных данных в соответствии с
						<a href="#" class="underline">политикой конфиденциальности</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
