<section class="our-meals">
	<div class="our-meals__container container">
		<div class="our-meals__inner">
			<div class="our-meals__title title">
				Фотогалерея <span class="text-orange">блюд</span>
			</div>
			<div class="meals-gallery">
				<!-- Tab Nav -->
				<div class="meals-gallery__nav">
					<button class="meals-gallery__btn active btn-reset" data-id="1">
						<span>пн</span>
						<span>15 апр</span>
					</button>
					<button class="meals-gallery__btn btn-reset" data-id="2">
						<span>вт</span>
						<span>16 апр</span>
					</button>
					<button class="meals-gallery__btn btn-reset" data-id="3">
						<span>ср</span>
						<span>17 апр</span>
					</button>
					<button class="meals-gallery__btn btn-reset" data-id="4">
						<span>чт</span>
						<span>18 апр</span>
					</button>
					<button class="meals-gallery__btn btn-reset" data-id="5">
						<span>пт</span>
						<span>19 апр</span>
					</button>
					<button class="meals-gallery__btn btn-reset" data-id="6">
						<span>сб</span>
						<span>20 апр</span>
					</button>
					<button class="meals-gallery__btn btn-reset" data-id="7">
						<span>вс</span>
						<span>21 апр</span>
					</button>
				</div>

				<!-- Tab Content -->
				<div class="meals-gallery__content">
					<div class="meals-gallery__tab active" data-id="1">
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="meals-gallery__tab" data-id="2">
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="meals-gallery__tab" data-id="3">
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="meals-gallery__tab" data-id="4">
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="meals-gallery__tab" data-id="5">
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="meals-gallery__tab" data-id="6">
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="meals-gallery__tab" data-id="7">
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>

						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
						<article class="meal-card">
							<div class="meal-card__inner">
								<div class="meal-card__header">
									<img
										src="./assets/img/sup-ribniy.png"
										alt="рыбный суп"
										class="meal-card__img" />
								</div>
								<div class="meal-card__body">
									<div class="meal-card__type text-orange">Второе блюдо</div>
									<h2 class="meal-card__title">Крем-суп грибной</h2>
								</div>
								<div class="meal-card__footer">
									<div class="meal-card__sizes">
										<span>270 гр</span>
										<span class="text-orange">373 ккал</span>
									</div>
									<div class="meal-card__nutrition">
										<span class="text-orange">Б11</span>
										<span class="text-orange">Ж14</span>
										<span class="text-orange">У14</span>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
