<section class="work">
	<div class="work__container container">
		<div class="work__inner grid">
			<div class="work__left">
				<div class="work__info">
					<h2 class="work__title title">
						Обедаем <span class="text-orange">в Питере!</span>
					</h2>
					<span class="work__subtitle"
						>Безупречный сервис доставки еды в офис
					</span>
				</div>
				<div class="our-advantages">
					<div class="our-advantages__item active">
						Свежие блюда каждый день:
					</div>
					<div class="our-advantages__item">
						<svg width="16" height="20">
							<use href="./assets/img/svg/sprite.svg#light"></use>
						</svg>
						<span>Молниеносная доставка</span>
					</div>
					<div class="our-advantages__item">
						<svg width="16" height="20">
							<use href="./assets/img/svg/sprite.svg#spoon"></use>
						</svg>
						<span>Разнообразие вкусов</span>
					</div>
					<div class="our-advantages__item">
						<svg width="21" height="21">
							<use href="./assets/img/svg/sprite.svg#stars"></use>
						</svg>
						<span>Безупречный сервис</span>
					</div>
				</div>
				<!-- Slider -->
				<div class="work__mob-slider-wrapper">
					<!-- Transfer Slider here on mobile -->
				</div>
				<form action="#" class="work__form-menu form-menu" name="form-menu">
					<div class="form-menu__title">
						Скачать пример меню на&nbsp;неделю:
					</div>
					<div class="form-menu__fields">
						<input
							type="text"
							class="input input-reset form-menu__name"
							name="name"
							placeholder="Ваше имя" />

						<div class="input-wrapper">
							<img
								class="input-wrapper__icon"
								src="./assets/img/ru.png"
								alt="" />
							<input
								type="text"
								id="form-menu-phone-2"
								class="input input-reset input-number form-menu__number"
								placeholder="+7 (999)999-99-99" />
						</div>

						<a href="#" class="download-btn btn-reset" download="pdf-name.pdf">
							<span>Скачать PDF</span>
							<svg width="14" height="17">
								<use href="./assets/img/svg/sprite.svg#download"></use>
							</svg>
						</a>
					</div>
					<p class="form-menu__privacy">
						Нажимая кнопку “Скачать PDF” вы соглашаетесь на обработку
						персональных данных в соответствии с
						<a href="#" class="underline">политикой конфиденциальности</a>
					</p>
				</form>
			</div>

			<div class="work__right">
				<div class="work__slider-wrapper">
					<div class="work__slider swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="./assets/img/pasta-s-ovowami.png" alt="" />
							</div>
							<div class="swiper-slide">
								<img src="./assets/img/sup-ribniy.png" alt="" />
							</div>
							<div class="swiper-slide">
								<img src="./assets/img/sup-xarcho.png" alt="" />
							</div>
						</div>
					</div>

					<div class="work__slider-controls slider-controls">
						<div class="swiper-button-prev"></div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
