<section class="delivery">
	<div class="delivery__container container">
		<div class="delivery__inner grid">
			<div class="delivery__left">
				<div class="delivery__info">
					<h2 class="delivery__title title">
						Делаем сотрудников <span class="text-green">счастливыми</span>
					</h2>
					<p class="delivery__subtitle">
						Приготовим и доставим комплексное питание для команд от 2 до 2000
						человек
					</p>
				</div>
				<div class="delivery__preview">
					<div class="delivery__preview-title">
						Пример еженедельного рациона КБЖУ
					</div>
					<a href="#" class="download-btn btn-reset" download="pdf-name.pdf">
						<span>Скачать PDF</span>
						<svg width="14" height="17">
							<use href="./assets/img/svg/sprite.svg#download"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="delivery__right">
				<div class="category-card">
					<div class="category-card__top">
						<h3 class="category-card__title">Детские сады</h3>

						<span class="tooltip">
							<button class="tooltip__btn" aria-describedby="some_id">
								<svg>
									<use href="./assets/img/svg/sprite.svg#hint"></use>
								</svg>
							</button>
							<span class="tooltip__txt" role="tooltip" id="some_id">
								<span class="visually-hidden">Тултип: </span>
								Описание 1
							</span>
						</span>
					</div>
					<picture>
						<source
							media="(max-width: 575px)"
							srcset="./assets/img/category-1-mob.png" />
						<img
							src="./assets/img/category-1.png"
							alt="category"
							class="category-card__img" />
					</picture>
				</div>

				<div class="category-card">
					<div class="category-card__top">
						<h3 class="category-card__title">Офисы</h3>

						<span class="tooltip">
							<button class="tooltip__btn" aria-describedby="some_id">
								<svg>
									<use href="./assets/img/svg/sprite.svg#hint"></use>
								</svg>
							</button>
							<span class="tooltip__txt" role="tooltip" id="some_id">
								<span class="visually-hidden">Тултип: </span>
								Описание 2
							</span>
						</span>
					</div>

					<picture>
						<source
							media="(max-width: 575px)"
							srcset="./assets/img/category-2-mob.png" />
						<img
							src="./assets/img/category-2.png"
							alt="category"
							class="category-card__img" />
					</picture>
				</div>

				<div class="category-card">
					<div class="category-card__top">
						<h3 class="category-card__title">Строительные площадки</h3>

						<span class="tooltip">
							<button class="tooltip__btn" aria-describedby="some_id">
								<svg>
									<use href="./assets/img/svg/sprite.svg#hint"></use>
								</svg>
							</button>
							<span class="tooltip__txt" role="tooltip" id="some_id">
								<span class="visually-hidden">Тултип: </span>
								Описание 3
							</span>
						</span>
					</div>

					<picture>
						<source
							media="(max-width: 575px)"
							srcset="./assets/img/category-3-mob.png" />
						<img
							src="./assets/img/category-3.png"
							alt="category"
							class="category-card__img" />
					</picture>
				</div>

				<div class="category-card">
					<div class="category-card__top">
						<h3 class="category-card__title">Бизнес-центры</h3>

						<span class="tooltip">
							<button class="tooltip__btn" aria-describedby="some_id">
								<svg>
									<use href="./assets/img/svg/sprite.svg#hint"></use>
								</svg>
							</button>
							<span class="tooltip__txt" role="tooltip" id="some_id">
								<span class="visually-hidden">Тултип: </span>
								Описание 4
							</span>
						</span>
					</div>

					<picture>
						<source
							media="(max-width: 575px)"
							srcset="./assets/img/category-4-mob.png" />
						<img
							src="./assets/img/category-4.png"
							alt="category"
							class="category-card__img" />
					</picture>
				</div>
			</div>
		</div>
	</div>
</section>
