<footer class="footer">
	<div class="footer__container container">
		<div class="footer__inner">
			<div class="footer__left">
				<img
					width="177"
					height="61"
					src="./assets/img/svg/logo.svg"
					alt="logo"
					class="logo" />

				<div class="footer__our">
					<p>
						© 2019–2024 <br />
						Питание + Польза
					</p>

					<a href="#" class="footer__link underline"
						>Политика конфеденциальности</a
					>
				</div>
			</div>

			<div class="footer__item">
				<div class="footer__item-title">Рационы</div>
				<ul class="footer__list list-reset">
					<li>
						<a href="#" class="footer__list-link">Низкокалорийные</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">900 ккал</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">1100 ккал</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">1400 ккал</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">1800 ккал</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">2700 ккал</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">Для двоих</a>
					</li>
				</ul>
				<a href="tel:+88003500969" class="footer__phone-link phone-link">
					<span class="font-semibold">8 800 350-09-69</span>
					<span class="underline">Перезвоните мне</span>
				</a>
			</div>

			<div class="footer__item">
				<div class="footer__item-title">Клиентам</div>
				<ul class="footer__list list-reset">
					<li>
						<a href="#" class="footer__list-link">Доставка</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">Оплата</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">Акции</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">Отзывы</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">Личный кабинет</a>
					</li>
				</ul>
			</div>

			<div class="footer__item">
				<div class="footer__item-title">Поддерка</div>
				<ul class="footer__list list-reset">
					<li>
						<a href="#" class="footer__list-link">О нас</a>
					</li>
					<li>
						<a href="#" class="footer__list-link">Реквизиты</a>
					</li>
				</ul>
				<a href="mailto:info@pp.spb.ru" class="footer__email">
					info@pp.spb.ru
				</a>
			</div>

			<div class="footer__item">
				<ul class="socials footer__socials list-reset">
					<li>
						<a href="#" class="socials__link" target="_blank">
							<svg width="20" height="12">
								<use href="./assets/img/svg/sprite.svg#vk"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" class="socials__link" target="_blank">
							<svg width="24" height="23">
								<use href="./assets/img/svg/sprite.svg#wt"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" class="socials__link" target="_blank">
							<svg width="21" height="17">
								<use href="./assets/img/svg/sprite.svg#tg"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
