.hero {
	position: relative;
	padding-top: 146px;

	@media screen and (max-width: 992px) {
		padding-top: 128px;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 16px;
		left: 50%;
		transform: translateX(-50%);
		width: 1860px;
		height: 742px;

		background-image: url('../img/hero-bg.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		@media screen and (max-width: 992px) {
			top: 0;
			border-radius: 0 0 20px 20px;
			left: calc(50% - 1px);
			height: 665px;
		}

		@media screen and (max-width: 420px) {
			width: 100%;
			background-image: url('../img/hero-bg-mobile.png');
		}
	}

	&__container {
	}

	&__inner {
		margin-bottom: 135px;
		@media screen and (max-width: 420px) {
			margin-bottom: 460px;
		}
	}

	&__info {
		max-width: 730px;
		width: 100%;
	}

	&__title {
		margin-bottom: 40px;
		@media screen and (max-width: 992px) {
			margin-bottom: 25px;
		}
	}

	&__link {
		display: inline-block;
		border-radius: 10px;
		background-color: var(--orange);
		padding: 14px 30px;
		font-weight: 600;
		font-size: 18px;
		color: var(--white);
		transition: background-color 0.2s ease-in-out;
		@include hover {
			background-color: var(--pink);
		}

		&:active {
			background-color: var(--pink);
			scale: 0.97;
		}

		@media screen and (max-width: 992px) {
			padding: 12px 30px;
			font-size: 16px;
		}
	}
}

.title {
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 42px;
	color: var(--black-green);

	@media screen and (max-width: 992px) {
		font-size: 36px;
	}

	@media screen and (max-width: 575px) {
		font-size: 20px;
	}
}

.slider-controls {
	position: relative;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

	.swiper-pagination {
		position: static;
		width: max-content;
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: static;
		margin: 0;
	}
}

.daily-ration {
	&__title {
		margin-bottom: 35px;

		font-family: var(--second-family);
		font-weight: 600;
		font-size: 28px;
		color: var(--black);

		@media screen and (max-width: 992px) {
			span {
				color: var(--white);
			}
		}

		@media screen and (max-width: 420px) {
			margin-bottom: 24px;
			font-size: 18px;
			span {
				color: var(--black);
			}
		}
	}

	&__slider {
		.swiper-slide {
			width: 210px;
			@media screen and (max-width: 575px) {
				width: 160px;
			}
		}
		.diet-card {
			@media screen and (max-width: 992px) {
				background-color: #f9f9f9;
			}
		}
	}

	&__slider-controls {
		margin-top: 24px;
	}
}

.diet-card {
	padding: 18px 22px;
	border-radius: 10px;
	background-color: var(--white);

	display: flex;
	flex-direction: column;

	@media screen and (max-width: 992px) {
		padding: 18px;
	}

	&__title {
		margin-bottom: 14px;

		font-weight: 700;
		font-size: 22px;
		color: #2e2e2e;

		@media screen and (max-width: 992px) {
			margin-bottom: 10px;
		}

		@media screen and (max-width: 575px) {
			font-size: 18px;
		}
	}

	&__info {
		margin-bottom: 40px;

		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 5px;

		@media screen and (max-width: 992px) {
			margin-bottom: 15px;
		}
		@media screen and (max-width: 575px) {
			flex-direction: column;
		}
	}

	&__calorie {
		padding: 4px 10px;
		border-radius: 4px;
		font-weight: 700;
		color: var(--black-green);

		background: var(--green-b2b);
	}

	&__meal-count {
	}

	&__img {
		margin: 0 auto;
		width: 150px;
		height: 178px;
		object-fit: cover;
		@media screen and (max-width: 575px) {
			width: 104px;
			height: 128px;
		}
	}
}
