<section class="hero">
	<div class="hero__container container">
		<div class="hero__inner">
			<div class="hero__info">
				<h1 class="hero__title title">
					Организация корпоративного питания в Санкт-Петербурге
				</h1>
				<a href="#" class="hero__link">Получить предложение</a>
			</div>
		</div>

		<div class="daily-ration">
			<div class="daily-ration__title">
				Пример ежедневного <span class="text-orange">рациона</span>
			</div>

			<!-- Slider main container -->
			<div class="daily-ration__wrapper">
				<div class="daily-ration__slider swiper">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">
							<div class="diet-card">
								<h3 class="diet-card__title">Понедельник</h3>
								<div class="diet-card__info">
									<div class="diet-card__calorie">900 ккал</div>
									<div class="diet-card__meal-count">3 блюда</div>
								</div>
								<img
									src="./assets/img/diet-card-1.png"
									alt="diet-card"
									class="diet-card__img" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="diet-card">
								<h3 class="diet-card__title">Понедельник</h3>
								<div class="diet-card__info">
									<div class="diet-card__calorie">900 ккал</div>
									<div class="diet-card__meal-count">3 блюда</div>
								</div>
								<img
									src="./assets/img/diet-card-1.png"
									alt="diet-card"
									class="diet-card__img" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="diet-card">
								<h3 class="diet-card__title">Понедельник</h3>
								<div class="diet-card__info">
									<div class="diet-card__calorie">900 ккал</div>
									<div class="diet-card__meal-count">3 блюда</div>
								</div>
								<img
									src="./assets/img/diet-card-1.png"
									alt="diet-card"
									class="diet-card__img" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="diet-card">
								<h3 class="diet-card__title">Понедельник</h3>
								<div class="diet-card__info">
									<div class="diet-card__calorie">900 ккал</div>
									<div class="diet-card__meal-count">3 блюда</div>
								</div>
								<img
									src="./assets/img/diet-card-1.png"
									alt="diet-card"
									class="diet-card__img" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="diet-card">
								<h3 class="diet-card__title">Понедельник</h3>
								<div class="diet-card__info">
									<div class="diet-card__calorie">900 ккал</div>
									<div class="diet-card__meal-count">3 блюда</div>
								</div>
								<img
									src="./assets/img/diet-card-1.png"
									alt="diet-card"
									class="diet-card__img" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="diet-card">
								<h3 class="diet-card__title">Понедельник</h3>
								<div class="diet-card__info">
									<div class="diet-card__calorie">900 ккал</div>
									<div class="diet-card__meal-count">3 блюда</div>
								</div>
								<img
									src="./assets/img/diet-card-1.png"
									alt="diet-card"
									class="diet-card__img" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="diet-card">
								<h3 class="diet-card__title">Понедельник</h3>
								<div class="diet-card__info">
									<div class="diet-card__calorie">900 ккал</div>
									<div class="diet-card__meal-count">3 блюда</div>
								</div>
								<img
									src="./assets/img/diet-card-1.png"
									alt="diet-card"
									class="diet-card__img" />
							</div>
						</div>
					</div>

					<!-- If we need navigation buttons -->
				</div>
				<div class="daily-ration__slider-controls">
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div>
</section>
