<section class="workplace">
	<div class="workplace__container container">
		<div class="workplace__inner">
			<div class="workplace__left">
				<div class="workplace__info">
					<div class="workplace__like">
						<span>едУ в офис</span>
						<img width="27" height="27" src="./assets/img/like.png" alt="" />
					</div>
					<h2 class="workplace__title title">
						Идеальные обеды
						<span class="text-green-hover">на рабочем месте</span>
					</h2>
				</div>

				<form action="#" class="form-menu" name="form-menu">
					<div class="form__title">Скачать пример меню на неделю:</div>
					<div class="form__fields">
						<input
							type="text"
							class="input input-reset form-menu__name"
							name="name"
							placeholder="Ваше имя" />

						<div class="input-wrapper">
							<input
								type="text"
								class="input input-reset form-menu__number"
								placeholder="(999)999-99-99" />
						</div>

						<a href="#" class="download-btn btn-reset" download="pdf-name.pdf">
							<span>Скачать PDF</span>
							<svg width="14" height="17">
								<use href="./assets/img/svg/sprite.svg#download"></use>
							</svg>
						</a>
					</div>
					<p class="form__privacy">
						Нажимая кнопку “Скачать PDF” вы соглашаетесь на обработку
						персональных данных в соответствии с
						<span class="underline">политикой конфиденциальности</span>
					</p>
				</form>
			</div>

			<div class="workplace__right">
				<div class="text-box">
					<p>
						<span class="text-green-hover">Из духовки к столу: </span>порадуйте
						себя ароматным горячим обедом, доставленным вовремя — прямо в офис
					</p>
					<div class="text-box__time">
						<span>13:30</span>
						<svg width="24" height="24">
							<use href="./assets/img/svg/sprite.svg#check-double"></use>
						</svg>
					</div>
				</div>

				<div class="text-box">
					<p>
						<span class="text-green-hover">Чистота и свежесть: </span>
						гарантируем качество и свежесть продуктов, благодаря нашему
						собственному производству
					</p>
					<div class="text-box__time">
						<span>13:30</span>
						<svg width="24" height="24">
							<use href="./assets/img/svg/sprite.svg#check-double"></use>
						</svg>
					</div>
				</div>

				<div class="text-box">
					<p>
						<span class="text-green-hover">Экономия времени: </span>
						забудьте о необходимости быстро сбегать за едой - мы привезем ее без
						хлопот и ожиданий
					</p>
					<div class="text-box__time">
						<span>13:30</span>
						<svg width="24" height="24">
							<use href="./assets/img/svg/sprite.svg#check-double"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
