<section class="workplace">
	<div class="workplace__container container">
		<div class="workplace__inner">
			<div class="workplace__left">
				<div class="workplace__info">
					<div class="workplace__like">
						<span>едУ в офис</span>
						<img width="27" height="27" src="./assets/img/like.png" alt="" />
					</div>
					<h2 class="workplace__title title">
						Идеальные обеды
						<span class="text-green-hover">на рабочем месте</span>
					</h2>
				</div>
				<div class="workplace__text-boxes">
					<div class="text-box">
						<img class="text-box__img" src="./assets/img/text-box.png" alt="" />
						<p>
							<span class="text-green-hover font-bold"
								>Из духовки к столу: </span
							>порадуйте себя ароматным горячим обедом, доставленным вовремя —
							прямо в офис
						</p>
						<div class="text-box__time">
							<span>13:30</span>
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#check-double"></use>
							</svg>
						</div>
					</div>

					<div class="text-box">
						<img class="text-box__img" src="./assets/img/text-box.png" alt="" />
						<p>
							<span class="text-green-hover font-bold"
								>Чистота и свежесть:
							</span>
							гарантируем качество и свежесть продуктов, благодаря нашему
							собственному производству
						</p>
						<div class="text-box__time">
							<span>13:30</span>
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#check-double"></use>
							</svg>
						</div>
					</div>

					<div class="text-box">
						<img class="text-box__img" src="./assets/img/text-box.png" alt="" />
						<p>
							<span class="text-green-hover font-bold">Экономия времени: </span>
							забудьте о необходимости быстро сбегать за едой - мы привезем ее
							без хлопот и ожиданий
						</p>
						<div class="text-box__time">
							<span>13:30</span>
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#check-double"></use>
							</svg>
						</div>
					</div>
				</div>

				<form action="#" class="form-menu" name="form-menu">
					<div class="form-menu__title">Скачать пример меню на неделю:</div>
					<div class="form-menu__fields">
						<input
							type="text"
							class="input input-reset form-menu__name"
							name="name"
							placeholder="Ваше имя" />

						<div class="input-wrapper">
							<img
								class="input-wrapper__icon"
								src="./assets/img/ru.png"
								alt="" />
							<input
								type="text"
								required
								id="form-menu-phone"
								class="input input-reset input-number form-menu__number"
								placeholder="+7 (999)999-99-99" />
						</div>

						<button class="download-btn btn-reset" download="pdf-name.pdf">
							<span>Скачать PDF</span>
							<svg width="14" height="17">
								<use href="./assets/img/svg/sprite.svg#download"></use>
							</svg>
						</button>
					</div>
					<p class="form-menu__privacy">
						Нажимая кнопку “Скачать PDF” вы соглашаетесь на обработку
						персональных данных в соответствии с
						<a href="#" class="underline">политикой конфиденциальности</a>
					</p>
				</form>
			</div>

			<div class="workplace__right">
				<div class="text-box">
					<img class="text-box__img" src="./assets/img/text-box.png" alt="" />
					<p>
						<span class="text-green-hover font-bold">Из духовки к столу: </span
						>порадуйте себя ароматным горячим обедом, доставленным вовремя —
						прямо в офис
					</p>
					<div class="text-box__time">
						<span>13:30</span>
						<svg width="24" height="24">
							<use href="./assets/img/svg/sprite.svg#check-double"></use>
						</svg>
					</div>
				</div>

				<div class="text-box">
					<img class="text-box__img" src="./assets/img/text-box.png" alt="" />
					<p>
						<span class="text-green-hover font-bold">Чистота и свежесть: </span>
						гарантируем качество и свежесть продуктов, благодаря нашему
						собственному производству
					</p>
					<div class="text-box__time">
						<span>13:30</span>
						<svg width="24" height="24">
							<use href="./assets/img/svg/sprite.svg#check-double"></use>
						</svg>
					</div>
				</div>

				<div class="text-box">
					<img class="text-box__img" src="./assets/img/text-box.png" alt="" />
					<p>
						<span class="text-green-hover font-bold">Экономия времени: </span>
						забудьте о необходимости быстро сбегать за едой - мы привезем ее без
						хлопот и ожиданий
					</p>
					<div class="text-box__time">
						<span>13:30</span>
						<svg width="24" height="24">
							<use href="./assets/img/svg/sprite.svg#check-double"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
