@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	font: 400 16px/1.15 var(--font-family);
	color: var(--black);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	overflow: hidden;

	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.container {
	margin: 0 auto;

	padding: 0 20px;

	max-width: 1584px;
	width: 100%;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid var(--orange);
	background-color: var(--white);
	opacity: 1;
	transition: background-color 0.2s ease-in-out;
}
.swiper-pagination-bullet-active {
	background-color: var(--orange);
}

.swiper-button-prev,
.swiper-button-next {
	cursor: pointer;
}

.swiper-button-prev {
	&::after {
		font-size: 0;
		width: 30px;
		height: 30px;

		background-image: url('../img/svg/arrow.svg');
		background-position: center center;
		background-size: 12px 20px;
		background-repeat: no-repeat;
		rotate: 180deg;
	}
}

.swiper-button-next {
	&::after {
		font-size: 0;
		width: 30px;
		height: 30px;

		background-image: url('../img/svg/arrow.svg');
		background-position: center center;
		background-size: 12px 20px;
		background-repeat: no-repeat;
	}
}

.tooltip {
	position: relative;
}

.tooltip__btn {
	border: none;

	padding: 0;
	color: #000;
	background-color: transparent;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		width: 34px;
		height: 34px;
	}
}

.tooltip__txt {
	position: absolute;
	right: 0;
	top: calc(100% + 5px);
	z-index: 3;
	padding: 20px;
	width: max-content;
	max-width: 370px;
	box-shadow: 0 0 29px rgba(0, 0, 0, 0.32); /* Исправлено: rgba вместо rgb */
	font-weight: 400;
	font-size: 14px;
	line-height: 200%;
	color: #fff;
	background: #222;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

.tooltip__btn:hover + .tooltip__txt,
.tooltip__btn:focus + .tooltip__txt {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}
