:root {
	--font-family: 'Inter', 'Segoe UI', sans-serif;
	--second-family: 'Unbounded', 'Segoe UI', sans-serif;

	--black: #282828;
	--white: #fff;
	--light-blue: #f3faff;
	--pink: #ff656f;
	--red: #ed2b5d;
	--panton-color: #ffbd99;
	--green: #98ce57;
	--green-hover: #72b126;
	--light-green: #a4e94e;
	--orange: #ffa333;
	--green-b2b: #92dd34;
	--white: #fff;
	--dark-gray: #242424;
	--blue: #2b79ed;
	--purple: #6650e9;
	--light-green: #b1efc2;
	--coral: #ff9581;
	--black-green: #12221a;
	--dark-green: #83b049;
}
